/* Navbar start */
.navbar{
    background: #A67B5B;
}
.custom-search-button1 {
    background-color: #6F4E37;
    color: white;
}

/* Custom CSS to style the divider */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

/* Custom CSS to adjust height */
.h-custom {
  height: calc(100% - 73px); /* Adjusted height to center the content vertically */
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%; /* Height adjustment for smaller screens */
  }
}


    /* footer */
Footer{
    background: #A67B5B;
}